<robot name="roomba">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.17"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="base_to_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="wheel"/>
  </joint>
  <link name="wheel">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>
</robot>